<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=${setting.charset}" />
<title></title>
<script src="/static/javascript/main.js"></script>
<script>
	document.title = c('${stitle}');

	function resize_ul(){	//改变聊天内容显示窗口的高度
		var bodyHeight = document.body.clientHeight;
		$('showmsg_ul').style.height = (bodyHeight-210) + 'px';
		$('showmsg_td').style.height = (bodyHeight-210) + 'px';
		var right_td_height = $('right_td').clientHeight;
		$('right_table').style.height = right_td_height + 'px';
		$('r2_div').style.height = (right_td_height - 170) + 'px';
		$('showmsg_ul').scrollTop = 100000;
	}
</script>
<style>
  html,body{height:100%; overflow-y:hidden;}
  .narrow_td{font-size:1px; line-height:1px; background:#F0F5FB;}
  .inbox_border{border:1px #3A8DCF solid;}
  .header li.current a{background:#F0F5FB !important;}
</style>
<link rel="stylesheet" type="text/css" href="/static/css/css1.css" />
</head>

<body onload="resize_ul();" onresize="resize_ul();">
  <table border="0" style="border:0; width:100%; height:100%;"; cellpadding="0" cellspacing="0">
    <tr>
      <td colspan="5" valign="top" style="height:50px;">
        <div class="userbar">
          <div class='logo'>
            <a href="/">${setting.sitename}</a>
          </div>
		  % if my.uid == 0:
			<a href="/register/">注册</a> | <a href="/login/">登录</a>
		  % else:
				% if my.groupid == 1:
					<a href="/profiles/activate/"><b>${my.username}</b>(未验证)</a>&nbsp;
				% else:
					<a href="/profiles/face/"><b>${my.username}</b></a>&nbsp;
				% endif
				% if my.groupid == 4:
					<a href="/admin/">系统设置</a>&nbsp;
				% endif
				<a href="/logout/">退出</a>
		  % endif
        </div>
        <%
            tuple_head_menu = (('/',u'帖吧'),('/chat/',u'群聊'))
            ac = '/chat/'
        %>
        <ul class="tab header">
          % for t in tuple_head_menu:
            % if t[0] == ac:
              <li class="current">
            % else:
              <li>
            % endif
              <a href="${t[0]}">${t[1]}</a>
            </li>
          % endfor
        </ul>
      </td>
    </tr>
    <%include file="js.html"/><!--定义常用js函数-->
    <tr>
      <td colspan="5" style="height:5px;" class="narrow_td"><!--上外框--></td>
    </tr>
    <tr>
      <td rowspan="4" style="width:5px;" class="narrow_td"><!--左外框--></td>
      <td class="inbox_border" valign="top" id="showmsg_td"><div style="position:relative;"><%include file="showmsg.html"/></div><!--主体聊天内容显示窗口--></td>
      <td rowspan="4" style="width:10px;" class="narrow_td"><!--右侧中竖框--></td>
      <td style="width:180px; border-color:#85A6DD;" rowspan="4" class="inbox_border" valign="top" id="right_td"><%include file="announce_online.html"/><!--在线列表--></td>
      <td style="width:4px;" rowspan="4" class="narrow_td"><!--右外框--></td>
    </tr>
    <tr>
      <td style="height:22px;" class="narrow_td"><!--字体设置框--></td>
    </tr>
    <tr>
      <td style="height:80px;" class="inbox_border"><%include file="inputbox.html"/><!--输入框--></td>
    </tr>
    <tr>
      <td style="height:16px; padding:5px 0px 0px 0px;" class="narrow_td"><%include file="button.html"/><!--发送按钮框--></td>
    </tr>
    <tr>
      <td colspan="5" style="height:4px;" class="narrow_td"><!--下外框--></td>
    </tr>
  </table>
</body>
</html>
