<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>衡阳有限设备验收系统</title>
<link href="/static/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<div id="wrap">
	<div id="contents">
	<div id="left">
		{% if has_error %}
			<div id="error">
				<p>{{msg}}</p>
				{% if exception %}
					<p>{{exception}}</p>	
				{% endif %}
			</div>
		{% else %}
			{{msg}}
		{% endif %}
	<div class="clear"></div>
	</div>
	</div>
	</div>
</body>
</html>