<!DOCTYPE html>
<html class="no-js"> 
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>群体极化调查</title>
  <link rel='stylesheet' href="/static/site.css"/>
  <!-- <link rel='stylesheet' href="http://bm-cdn.b0.upaiyun.com/a411680/css/site.css?ver=a411680"/> -->
  <link rel="stylesheet" type="text/css" href="/static/my_css.css" />
  <link rel='shortcut icon' href='http://bm-cdn.b0.upaiyun.com/a411680/img/icons/favicon.png'/>
</head>

<body class="docs">
<!-- <div class="nav_welcome">{{user_name}}</div> -->
{% include "head_nav.html" %}
  <div class="container">
    <div id="main-content">
      
    <div class="highlight">
        <p class="" style="width:600px;">
            团购信息。某产品发布。。。。
        </p>
    </div>
    <br/>
    <!-- <div class="highlight">
        <p class="" style="width:600px;">
          手机信息
          <img src="/static/image/image1.jpg" alt="XXX手机" title="XXX手机"  border="0"/>
        </p>
    </div> -->
    
  </br>
    
    <div class="clear"></div>

    <div class="question">
        <p>通过上述讨论，请您再次选择：：A团购 或者B不团购</p>
        {% include "question2.html" %}
    </div>

    </div>
</br>
    <div class="clear"></div>
  </div>

  

</body>
</html>
