<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<!-- DW6 -->
<head>
<!-- Copyright 2005 Macromedia, Inc. All rights reserved. -->
<meta http-equiv="Content-Type" content="text/html; charset=utf8" />
<link rel="stylesheet" type="text/css" href="/static/my_css.css" />
<title>群体极化调查</title>
</head>

<body>
	{% include "head_nav.html" %}
	<div align='center'>
		<p>调查提交成功，谢谢您的参与！</p>
		<a href="{% url 'survey_statics' %}">调查结果统计</a>
	</div>
</body>