[
{
	sasl, [
			{sasl_error_logger, {file, "../running_log/server_node.log"}}
		  ]
},

{
	server, [ 
			  {server_index, 4},
	          {node_cookie, sg},
	          {node_name, 'sg_0@127.0.0.1'},
	          {log_node, 'log_0@127.0.0.1'},

			  {port, 10000},
	          {db, sd_mysql_conn},
	          {db_host, "192.168.24.159"},
	          {db_port, 3306},
	          {db_user, "root"},
	          {db_pass, "123456"},
	          {db_name, "sanguo_server"},
	          {user_log_db_name, "sanguo_log"},
	          {db_encode, utf8},
	          {server_key, "hlsy"},
	          {debug_level,{5, [{pt, 3}, {die_hb, 3}, {monster, 1}, {send, 1}, {move_queue, 1}]}},
	          {enable_gm, true},
	          {management_enable, true}, %% 是否开启后台管理
	          {kudos_url,"http://113.107.110.215:22000/"},
	          {server_id_for_kudos,"100001"},
	          {kudos_key,"30EB68243D94467FAFE1C6B55C512191"},
	          {server_first_run,{2012,05,07}},
		  	  {server_mode, debug}, %% server mode include: debug and release
	          {finish, finish}
	]
}
].